.button {
    border-radius: var(--border-radius-small);
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &--small {
        width: 118px;
        height: 34px;
        @include font("p-small");

        @include mobile {
            width: 114px;
            height: 33px;
            @include font("p-small-mobile");
        }
    }

    &--medium {
        width: 235px;
        height: 58px;

        @include font("p-normal");

        @include mobile {
            width: 134px;
            height: 47px;
            @include font("p-normal-mobile");
        }
    }

    &--white {
        background-color: var(--color-white);
        color: var(--color-black); 

        @include pc-hover {
            color: var(--color-white);
            background-color: var(--color-orange-200);
        }

        @include pc-active {
            color: var(--color-black);
            background-color: var(--color-orange-100);
        }
    }

    &--deep-green {
        background-color: var(--color-green-400);
        color: var(--color-white); 

        @include pc-hover {
            background-color: var(--color-green-300);
        }

        @include pc-active {
            background-color: var(--color-green-200);
        }
    }

    &--light-green {
        background-color: var(--color-green-100);
        color: var(--color-green-400); 

        @include pc-hover {
            background-color: var(--color-gray-100);
        }

         @include pc-active {
            background-color: var(--color-gray-200);
        }
    }
}