.card-link {
    display: inline-flex;
    position: relative;
    z-index: 10; 

    max-width: 159px;
  
    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: -20px;
        right: -21px;
        bottom: -7px;
        z-index: -1; 

        transition: background-color 0.3s ease-in-out;
        background-color: transparent;
        border-radius: var(--border-radius-big);
    }

    &__text {
        display: inline-block;
        margin-right: 16px;
        margin-top: -1px;

        @include font("p-big");

        @include mobile {
            margin-right: 17px;

            @include font("p-big-mobile");
        }
    }

    &__icon {
        display: inline-block;
        width: 22px;
        height: 15px;
        margin-top: 5px;

        background-image: url("../../public/icons/arrow-right.svg");

        @include mobile {
            margin-top: 2px;
        }
    }
}