.card-link {
    position: relative;
    max-width: 159px;
    display: inline-flex;
    align-items: center;
    z-index: 10; 

    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: -20px;
        right: -21px;
        bottom: -7px;

        background-color: transparent;
        border-radius: var(--border-radius-big);
        transition: background-color 0.3s ease-in-out;
        z-index: -1; 
    }

    &__text {
        font-weight: 700;
        font-size: 23px;
        line-height: 1.22;
        margin-right: 16px;

        @media (max-width: 360px) {
            font-size: 16px;
            line-height: 1.42;
            margin-right: 17px;
        }
    }
}