.checkbox {
    &__label {
        display: flex;
        align-items: center;
        column-gap: 19px;

        @include font("p-small");

        @include tablet {
            column-gap: 11px;
        }

        @include mobile {
            align-items: flex-start;
            column-gap: 10px;
            @include font("p-normal-mobile")
        }
    }

    &__emulator {
        position: relative;
        width: 26px;
        height: 26px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 2px solid var(--color-black);

        @include mobile {
            width: 20px;
            height: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width:  13px;
            height: 10px;
            background: url("../public/icons/check.svg") no-repeat;
            background-size: 13px 10px;
            opacity: 0;
            transform: translate(-50%, -50%);
        }
    }

    &__label-emulator {
        color: var(--color-gray-300);
        text-align: left;
    }

    &__input:checked + &__emulator::after {
        opacity: 1;
    }

    &__input:focus:not(:checked) + &__emulator {
        outline: 1px solid var(--color-gray-300);
        outline-offset: 2px;
    }
}