.content {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 135px;

    @media (max-width: 360px) {
        row-gap: 76px;
    }

    &--margin {
        margin-top: 135px;
        margin-bottom: 135px;

        @media (max-width: 360px) {
            margin-top: 76px;
            margin-bottom: 74px;
        }
    }
}