.ending-section {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media (max-width: 450px) {
        flex-direction: column;
        row-gap: 30px;
    }

    &__wrapper {
        border-radius: var(--border-radius-big);
        overflow: hidden;

        @media (max-width: 360px) {
            margin-top: -1px;
            border-radius: 20px;
        }
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 371px;
        row-gap: 20px;

        @media (max-width: 360px) {
            row-gap: 21px;
        }
    }

    &__title {
        width: 100%;
        margin-top: 1px;

        color: var(--color-black);
        font-weight: 500;
        font-size: 35px;
        line-height: 1.23;
        letter-spacing: 0;

        @media (max-width: 450px) {
            max-width: 291px;
            font-weight: 700;
            font-size: 23px;
            line-height: 1.2;
            letter-spacing: 0.04em;
            text-align: center;
        }
    }

    &__description {
        color: var(--color-gray-300);
        font-weight: 400;
        font-size: 20px;
        line-height: 1.42;
        letter-spacing: 0;

        @media (max-width: 450px) {
            max-width: 291px;
            width: 100%;
            text-align: center;
            font-size: 16px;
        }
    }

    &__email {
        color: var(--color-black);
    }
}