.error {
    color: red;
    font-size: 14px;
    font-weight: 400;

    & .checkbox {
        padding-top: 5px;
    }

    &--checkbox, &--radio {
        padding: 10px;
        border: 1px solid red;
        border-radius: var(--border-radius-small);
    }

    &--input {
        border-color: red;
    }
}