.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    row-gap: 8px;

    @media (max-width: 360px) {
        row-gap: 7px;
    }

    &--wide {
        max-width: 1030px;
    }

    &--date-margin {
        @media (max-width: 360px) {
            width: auto;
            margin-right: -3px;
        }
    }

    &__label {
        max-height: 28px;
        height: 100%;

        color: var(--color-black);
        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;

        @media (max-width: 360px) {
            min-height: 23px;
            font-size: 16px;
        }
    }

    &__input {
        position: relative;
        width: 100%;
        max-height: 68px;

        padding: 20px;
        padding-left: 19px;
        background-color: var(--color-beige-100);
        border: 1px solid var(--color-beige-200);
        border-radius: var(--border-radius-small);
        cursor: pointer;

        font-family: var(--font-family-base);
        color: var(--color-black);
        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;

        @media (max-width: 360px) {
            max-height: 43px;
            padding: 13px 12px 11px 9px;
            font-size: 16px;
            
        }

        &:focus {
            border-color: var(--color-gray-300);
            outline: none;
        }

        &::placeholder {
            color: var(--color-gray-300);
        }

    }

    &__input-textarea {   
        width: 100%;
        max-height: none;
        min-height: 152px;
        resize: none;
        
        @media (max-width: 360px) {
            min-height: 132px;
        }
    }

    &__input-date {   
        text-transform: uppercase;
    }

    &__select {
        appearance: none;
        outline: none;

        width: 100%;
        max-height: 68px;
        padding-block: 19px 20px;
        padding-left: 19px;
        color: var(--color-gray-300);

        background-image: url("../images/icons/dropdown-arrow.svg");
        background-repeat: no-repeat;
        background-position: right 23px top 29px;
        background-color: var(--color-beige-100);
        border: 1px solid var(--color-beige-200);
        border-radius: var(--border-radius-small);
      
        cursor: pointer;
        font-family: var(--font-family-base);
        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;

        @media (max-width: 360px) {
            max-height: 46px;
            font-size: 16px;
            padding: 11.5px 9px;
            background-position: right 13px top 18px;
        }

        &:focus {
            border-color: var(--color-gray-300);
            outline: none;
        }
    }
    

    &__select-option:not(:first-child) {
        color: var(--color-black);
    }
}