.field {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    align-items: start;
    row-gap: 8px;

    @media (max-width: 1170px) {
        max-width: 389px;
    }

    @media (max-width: 360px) {
        row-gap: 7px;
    }

    &--wide {
        max-width: 1030px;
    }

    &--date-margin {
        @media (max-width: 360px) {
            width: auto;
            margin-right: -3px;
        }
    }

    &__label {
        max-height: 28px;
        height: 100%;

        color: var(--color-black);
        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;

        
        @media (max-width: 360px) {
            min-height: 23px;
            font-size: 16px;
        }
    }

    &__input {
        width: 100%;
        max-height: 68px;

        font: var(--font-family-base);
        padding: 20px;
        padding-left: 19px;
        background-color: var(--color-beige-100);
        border: 1px solid var(--color-beige-200);
        border-radius: var(--border-radius-small);
        cursor: pointer;

        color: var(--color-black);
        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;

        @media (max-width: 360px) {
            max-height: 43px;
            padding: 13px 12px 11px 9px;
            font-size: 16px;
            
        }

        &:focus {
            border-color: var(--color-gray-300);
            outline: none;
        }

        &::placeholder {
            color: var(--color-gray-300);
        }

        &--textarea {
            width: 100%;
            max-height: none;
            min-height: 152px;
            resize: none;
            
            @media (max-width: 360px) {
                min-height: 132px;
            }
            
        }

        &--date {
            position: relative;
            text-transform: uppercase;

            &:invalid {
                color: var(--color-gray-300); 
            }
            
            &::-webkit-calendar-picker-indicator {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
            }
        }
    }

    &__select {
        position: relative;
        appearance: none;
        outline: none;

        width: 100%;
        max-height: 68px;
        padding-block: 19px 20px;
        padding-left: 19px;

        background-image: url("../../images/icons/dropdown-arrow.svg");
        background-repeat: no-repeat;
        background-position: right 23px top 29px;
        background-color: var(--color-beige-100);
        border: 1px solid var(--color-beige-200);
        border-radius: var(--border-radius-small);
      
        cursor: pointer;

        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;

        @media (max-width: 360px) {
            max-height: 46px;
            font-size: 16px;
            padding: 11.5px 9px;
            background-position: right 13px top 18px;
        }

        &:focus {
            border-color: var(--color-gray-300);
            outline: none;
        }

        &:invalid {
            color: var(--color-gray-300); //спросить, насколько жизнеспособен такой вариант плейсхолдера для селекта
        }
    }

    &__select-option {
        color: var(--color-black);
    }
}