.footer {
    display: flex;
    width: 100%;
    padding: 30px 0;

    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.42;
    letter-spacing: 0;
    background-color: var(--color-beige-200);

    @media (max-width: 1024px) {
        padding-inline: 52px;
    }

    @media (max-width: 360px) {
        padding-inline: 0;
        padding-block: 22px;;
    }

    &__socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-inline: 1px;

        @media (max-width: 360px) {
            padding-inline: 0;
            flex-direction: column;
            font-size: 16px;
            align-items: center;
            row-gap: 8px;
        }
    }

    &__text {
        color: var(--color-gray-300);
    }
}