.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 28px;
    max-height: 88px;

    @include mobile {
        padding-block: 33px;
    }

    &--fixed {
        position: fixed;
        color: var(--color-black);
        background-color: var(--color-header-fixed);
        backdrop-filter: blur(54px);
        -webkit-backdrop-filter: blur(54px);
        z-index: 100;
    }

    &--show-fixed {
        animation: appear-header 0.3s forwards;
    }

    
    &--hide-fixed {
        animation: disappear-header 0.3s forwards;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include font("p-normal");

        @include tablet {
            font-size: clamp(16px, 2vw, 20px);
        }

        @include mobile {
            @include font("p-normal-mobile");
        }   
    }

    &__logo {
        color: currentColor;

        @media (max-width: 768px) {
            max-width: 133px;
            width: 100%;
        }

        &--black {
            color: var(--color-black);
        }
    }

    &__menu {
        max-width: 468px;
        width: 100%;

        @include tablet {
            max-width: 448px;
            padding-inline: 20px;
            
        }

        @include mobile {
            display: none;
        }
    }

    &__menu-list {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // column-gap: 50px;

        // @media (max-width: 1024px) {
        //     column-gap: 30px;
        // }

    }

    &__phonenumber {
        display: flex;
        flex-shrink: 0;
        
        @media (max-width: 460px) {
            margin-top: 1px;
            font-size: 16px;
            transform: translateY(1px);
        } 
    }
}