.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 28px;

    @media (max-width: 1024px) {
        padding-inline: 57px;
    }

    @media (max-width: 460px) {
        padding: 33px 20px;
    }
    
    &__inner {
        padding-inline: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        font-size: 20px;
        line-height: 1.42;
        letter-spacing: 0;

        @media(max-width: 1024px) {
            padding-inline: 0;
        }

        @media(max-width: 460px) {
            max-height: 23px;
            height: 100%;
        }
        
    }

    &__logo {
        @media (max-width: 460px) {
            max-width: 133px;
            width: 100%;
        }
    }

    &__menu {
        @media(max-width: 920px) {
            display: none;
        }
    }

    &__menu-list {
        max-width: 468px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 50px;

        @media (max-width: 1024px) {
            column-gap: 30px;
        }

    }

    &__menu-link:hover {
        text-decoration: underline;
        text-underline-offset: 6px;
    }

    &__phonenumber {
        @media (max-width: 460px) {
            margin-top: 1px;
            font-size: 16px;
        } 
    }
}