.header {
    position: absolute;

    display: flex;
    max-height: 88px;
    width: 100%;
    padding-block: 28px;
    justify-content: center;
    align-items: center;
    
    @include mobile {
        padding-block: 33px;
    }

    &--fixed {
        position: fixed;
        z-index: 100;

        color: var(--color-black);
        background-color: var(--color-header-fixed);
        
        backdrop-filter: blur(54px);
        -webkit-backdrop-filter: blur(54px);
    }

    &--show-fixed {
        animation: appear-header 0.3s forwards;
    }

    
    &--hide-fixed {
        animation: disappear-header 0.3s forwards;
    }

    &__inner {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
        @include font("p-normal");

        @include tablet {
            font-size: clamp(16px, 2vw, 20px);
        }

        @include mobile {
            @include font("p-normal-mobile");
        }   
    }

    &__logo {
        @include mobile {
            max-width: 133px;
            width: 100%;
        }

        &--black {
            color: var(--color-black);
        }
    }

    &__menu {
        max-width: 468px;
        width: 100%;

        @include tablet {
            max-width: 448px;
            padding-inline: 20px;
            
        }

        @include mobile {
            display: none;
        }
    }

    &__menu-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    &__phonenumber {
        display: flex;
        flex-shrink: 0;

        @include mobile {
            @include font("p-normal-mobile");
        }
    }
}