.hero-section {
    flex-direction: column;
    height: 830px;
    width: 100%;
    padding-top: 88px;
    
    background-image: url('../images/hero-section-background-1920.png');
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
        height: 831px;
        background-image: url('../images/hero-section-background-1024.png');
    }

    @include mobile {
        height: 488px;
        background-image: url('../images/hero-section-background-360.png');
    }

    &__content {
        display: flex;
        max-height: 742px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 768px;
        width: 100%;
        row-gap: 50px;

        @include tablet {
            margin-top: -1px;
            max-height: 743px;
        }

        @include mobile {
            margin-top: 0;
            max-height: 400px;
            row-gap: 39px; 
        }
    }

    &__title {
        font-weight: 700;
        max-width: 768px;
        width: 100%;
        transform: translateX(1px);

        font-size: 96px;
        line-height: 1.09;
        letter-spacing: 0.02em;
        text-align: center;

        @media (max-width: 1024px) {
            line-height: 105px;
            margin-left: -2px;
            font-size: clamp(34px, 10vw, 96px);
        }

        @media (max-width: 360px) {
            height: auto;
            line-height: 38px;
            font-size: 34px;
        }
    }

    &__description {
        max-width: 562px;
        max-height: 56px;
        transform: translateY(1px);

        @include tablet {
           max-width: 400px;
        }

        @include mobile {
            max-width: 250px;
            max-height: 71px;
            font-size: 16px;
        }
    }

    &__button {
        transform: translateY(0.5px);

        @include tablet {
            transform: translateY(1px);
            padding-top: 1px;
        }

        @include mobile {
            padding-top: 2px;
        }
    }
}