.hero-section {
    height: 830px;
    width: 100%;
    padding-top: 88px;
    
    background-image: url('../public/images/hero-section-background-1920.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
        height: 831px;
        background-image: url('../public/images/hero-section-background-1024.png');
    }

    @include mobile {
        height: 488px;
        background-image: url('../public/images/hero-section-background-360.png');
    }

    &__content {
        display: flex;
        max-width: 768px;
        flex-direction: column;
        align-items: center;
        padding-top: 118px;

        @include mobile {
            padding-top: 53px;
        }
    }

    &__title {
        padding-bottom: 51px;
        text-align: center;

        @include font("h1");

        @include mobile {
            max-width: 500px;
            padding-bottom: 39px;

            @include font("h1-mobile")
        }
    }

    &__description {
        max-width: 562px;
        padding-bottom: 49px;

        @include tablet {
           max-width: 400px;
        }

        @include mobile {
            max-width: 250px;
            padding-bottom: 40px;
            
            @include font("p-normal-mobile");
        }
    }
}