.hero-section {
    width: 100%;
    max-height: 831px;
    
    background-image: url('../images/hero-section-background-1920.png');
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
        background-image: url('../images/hero-section-background-1024.png');
    }

    @include mobile {
        max-height: 488px;
        height: 100%;
        background-image: url('../images/hero-section-background-360.png');
    }

    &__header {
        margin-bottom: 119px;

        @include mobile {
            margin-bottom: 52px;;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 768px;
        width: 100%;
        row-gap: 50px;

        @include mobile {
            row-gap: 38px; 
        }
    }

    &__title {
        font-weight: 700;
        max-width: 768px;
        max-height: 315px;
        width: 100%;
        height: 100%;
        padding-bottom: 2px;

        font-size: 96px;
        line-height: 1.09;
        letter-spacing: 0.02em;
        text-align: center;

        @include mobile {
            font-size: 34px;
            line-height: 1.12;
        }
    }

    &__description {
        max-width: 562px;
        max-height: 56px;
        width: 100%;
        height: 100%;

        @include tablet {
           max-width: 400px;
        }

        @include mobile {
            max-width: 250px;
            max-height: 71px;
            padding-bottom: 2px;

            font-size: 16px;
        }
    }

    &__button {
        width: 118px;
        height: 34px;
        margin-bottom: 118px;

        font-size: 17px;
        letter-spacing: -0.01em;
        background-color: var(--color-white);
        color: ver(--color-black); 

        @include tablet {
           padding-top: 2px;
            margin-bottom: 119px;
        }

        @include mobile {
            width: 114px;
            height: 33px;
            margin-bottom: 52px;
            font-size: 16px;
        }

        @media (hover:hover) {
            &:hover {
                color: var(--color-white);
                background-color: var(--color-orange-200);
            }
            &:active {
                color: var(--color-black);
                background-color: var(--color-orange-100);
            }
        }

        @media (hover:none) {
            &:hover {
                color: var(--color-black);
                background-color: var(--color-white);
            }
        }

    }
}