.photo {
    @media (max-width: 1024px) {
        &--hidden-1024 {
            display: none;
        }
    }

    @media (max-width: 360px) {
        border-radius: 20px;

        &--hidden-360 {
            display: none;
        }
    }

    &__item {
        // min-height: 301px;
        // object-fit: cover;
        border-radius: var(--border-radius-big);

        @media (max-width: 360px) {
            border-radius: 20px;
        }
    }
}