.photos {
    display: flex;
    width: 100%;

    flex-direction: column;
    row-gap: 30px;
    align-items: center;

    @media (max-width: 1024px) {
        row-gap: 30.5px;
    }

    @media (max-width: 360px) {
        padding-inline: 21px;
        row-gap: 18px;
    }

    &__row {
        display: flex;
        column-gap: 29.5px;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1024px) {
            column-gap: 20px;
            align-items: auto;
        }

        @media (max-width: 360px) {
            column-gap: 10px;
        }
    }
}