.photos {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

    @include tablet {
        row-gap: 30px;
    }

    @include mobile {
        row-gap: 18px;
    }

    &__row {
        display: flex;
        width: 100%;
        column-gap: 30px;
        align-items: center;

        @include tablet {
            column-gap: 20px;
        }

        @include mobile {
            column-gap: 10px;
        }

        &--gap-mobile-big {
            @include mobile {
                column-gap: 18px;
            }
        }
    }
}