.photos {
    display: flex;
    width: 100%;

    flex-direction: column;
    row-gap: 30px;
    align-items: center;

    @media (max-width: 1024px) {
        row-gap: 30px;
    }

    @media (max-width: 360px) {
        margin-top: -1px;
        padding-inline: 21px;

        row-gap: 18px;
    }

    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
}