.radio {
    color: var(--color-black);
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0;

    @media (max-width: 360px) {
        column-gap: 29px;
    }

    &__title {
        margin-bottom: 8px;

        @media (max-width: 360px) {
            font-size: 16px;
            margin-bottom: 3px;
        }
    }

    &__labels {
        display: flex;
        column-gap: 31px;

        @media (max-width: 360px) {
            column-gap: 30px;
        }
    }

    &__emulator {
        position: relative;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 2px solid var(--color-black);

        &:focus {
            border: 1px solid black;
        }

        @media (max-width: 360px) {
            margin-top: -1px;
            width: 20px;
            height: 20px;
        }

        &::after {
            opacity: 0;
            position: absolute;
            content: "";
            width:  12px;
            height: 12px;
            border-radius: 50%;
            background-color: var(--color-black);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: 360px) {
                width:  9px;
                height: 9px;
            }
        }
    }
    
    &__input:checked + &__emulator::after {
        opacity: 1; 
    }

    &__label {
        display: flex;
        align-items: center;
        column-gap: 11px;

        @media (max-width: 360px) {
            column-gap: 10px;
        }
    }

    &__label-emulator {
        text-align: center;
        margin-bottom: -1px;

        @media (max-width: 360px) {
            font-size: 16px;
            margin-bottom: -0;
        }
    }
}