.reviews {
    &__review-list {
        display: flex;
        column-gap: 30px;

        @include tablet {
            column-gap: 18px;
        }
        
        @include mobile {
            flex-direction: column;
            row-gap: 18px;
        }
    }
}