.reviews {
    
    @media (max-width: 1270px) {
        padding-inline: 30px;
    }       
    
    @media (max-width: 360px) {
        padding-inline: 0;
    }


    &__review-list {
        display: flex;
        column-gap: 30px;

        @media (max-width: 1024px) {
            column-gap: 18px;
        }

        @media (max-width: 620px) {
            flex-direction: column;
            row-gap: 18px;
        }
    }
}