.review {
    max-width: 570px;
    max-height: 673px;
    
    width: 100%;
    padding: 40px;
    background-color: var(--color-beige-200);
    border-radius: var(--border-radius-big);

    
    @media (max-width: 1024px) {
        max-width: 450px;
        max-height: 841px;
    }

    @media (max-width: 360px) {
        max-width: 318px;
        min-height: 408px;
        width: 100%;

        padding: 20px;
        border-radius: 20px;
    }

    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        color: var(--color-black);
        font-weight: 700;
        font-size: 23px;
        line-height: 1.22;
        letter-spacing: 0;
        margin-bottom: 69px;

        @media (max-width: 360px) {
            max-width: 278px;
            padding-right: 3px;
            margin-bottom: 42px;
  
            font-size: 16px;
            line-height: 1.42;
        }

        &--second-review-margin {
            @media (max-width: 360px) {
                margin-bottom: 44px;
            }       
        }
    }

    &__author-info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 360px) {
            max-width: 278px;
            align-items: end;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        @media (max-width: 360px) {
            row-gap: 9px;
        }

        &--second-review-gap {
            @media (max-width: 360px) {
                row-gap: 8px;
            }
        }
    }

    &__author-name {
        color: var(--color-black);
        font-weight: 500;
        font-size: 35px;
        line-height: 1.22;
        letter-spacing: 0;

        @media (max-width: 360px) {
            font-weight: 700;
            font-size: 23px;
            line-height: 1.2;
            letter-spacing: 0.04em;
        }
    }

    &__tour-name{
        color: var(--color-gray-300);
        font-weight: 400;
        font-size: 17px;
        line-height: 1.42;
        letter-spacing: -0.01em;

        @media (max-width: 360px) {
            font-size: 16px;
            margin-bottom: -1px;
        }
    }

    &__author-photo {
        flex-shrink: 0;
        border-radius: 50%;
    }
}