.review {
    width: 100%;
    padding: 40px;
    background-color: var(--color-beige-200);
    border-radius: var(--border-radius-big);

    @include mobile {
        width: 100%;
        padding: 20px;
        border-radius: 20px;
    }

    &__body {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        margin-bottom: 70px;
        color: var(--color-black);
        @include font("p-big");

        @include mobile {
            padding-right: 3px;
            margin-bottom: 40px;
            @include font("p-big-mobile");
        }
    }

    &__author-info {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @include mobile {
            align-items: end;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__author-name {
        color: var(--color-black);
        @include font("h3");
        @include mobile {
            @include font("h3-mobile");
        }
    }

    &__tour-name{
        color: var(--color-gray-300);
        @include font("p-small");
        @include mobile {
            @include font("p-small-mobile");
        }
    }

    &__author-photo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
}