.reviews {
    &__review-list {
        display: flex;
        column-gap: 30px;

        @media (max-width: 1024px) {
            column-gap: 18px;
        }

        @media (max-width: 620px) {
            flex-direction: column;
            row-gap: 18px;
        }
    }
}