.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: var(--color-black);
        text-align: center;

        @include font("h2");

        @include mobile {
            @include font("h2-mobile");
        }
        
        &--narrow {
            max-width: 530px;
        }
    }

    &__menu {
        margin-top: 35px;
        margin-bottom: 106px;

        @include mobile {
            margin-top: 30px;
            margin-bottom: 49px; 
        }
    }

    &__menu-list {
        display: flex;
        justify-content: center;
        gap: 30.5px;
        flex-wrap: wrap;
        margin-left: -1px;

        @include font("p-big");

        @include mobile {
            margin-left: 0;
            gap: 10px; 

            @include font("p-big-mobile");
        }
    }

    &__menu-button {
        position: relative;

        &::after {   
            content: '';
            position: absolute;
            left: 50%;
            bottom: -6px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width var(--transition-duration) ease-in-out;
            transform: translateX(-50%);
        
        }

        @media (hover:hover) {
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &--active {
            position: relative;
            text-decoration: none;
            color: var(--color-orange-200);

            &::after {   
                content: '';
                position: absolute;
                left: 50%;
                bottom: -6px;
                width: 100%;
                height: 2px;
                background-color: currentColor;

                @include mobile {
                    bottom: 1px;
                }
            }
        }
    }

    &__description {
        max-width: 400px;
        margin-top: 30px;
        margin-bottom: 100px;

        color: var(--color-gray-300);
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0;
        text-align: center;

        @media (max-width: 360px) {
            margin-top: 19px;
            margin-bottom: 50px;
            max-width: 318px;
            font-size: 16px;
            line-height: 23px;

            &--margin-40 {
                margin-bottom: 40px;
            }
        }
    }

    &__body {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}