.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 59px;
        line-height: 1.24;
        letter-spacing: 0;
        color: var(--color-black);
        text-align: center;

        &--narrow {
            max-width: 530px;
            width: 100%;
        }

        @media (max-width: 360px) {
            font-size: 34px;
            line-height: 38px;
            letter-spacing: 0.02em; 
        }
    }

    &__menu {
        margin-top: 35px;
        margin-bottom: 106px;
        max-width: 700px;
        width: 100%;

         @media (max-width: 360px) {
            max-width: 300px;
            margin-bottom: 50px; 
            margin-top: 29px;
        }
    }

    &__menu-list {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        font-weight: 700;
        font-size: 23px;
        line-height: 122%;
        letter-spacing: 0;

        @media (max-width: 360px) {
            gap: 10px; 
            font-size: 16px;
            line-height: 23px;
        }
    }

    &__menu-button {
        color: var(--color-black);
        background-color: inherit;
    }

    &__menu-button--is-active {
        color: var(--color-orange-200);
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;

        @media (max-width: 360px) {
            text-underline-offset: 4px;
        }
    }

    &__description {
        max-width: 400px;
        margin-top: 30px;
        margin-bottom: 99px;

        color: var(--color-gray-300);
        font-weight: 400;
        font-size: 20px;
        line-height: 142%;
        letter-spacing: 0;
        text-align: center;

        @media (max-width: 360px) {
            margin-top: 20px;
            margin-bottom: 50px;
            max-width: 318px;
            font-size: 16px;

            &--margin-40 {
                margin-bottom: 40px;
            }
        }
    }

    &__body {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}