.social {
    color: var(--color-black);
    
    @include font("p-normal");

    @include mobile {
        @include font("p-normal-mobile");
    }

    &--fb {
        margin-right: 1px;
    }

    &__link {
        display: flex;
        column-gap: 10px;
        align-items: center;

        @include mobile {
            column-gap: 5px;
        }
    }
}