.social-logo {
    width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 360px) {
        margin-top: -3px;
    }

    &--tg-mobile {
        @media (max-width: 360px) {
           width: 22px;
           transform: translateX(-0.5px);
        } 
    }

    &--fb-mobile {
        @media (max-width: 360px) {
            width: 26px;
        } 
    }

    &--vk-mobile {
        @media (max-width: 360px) {
            width: 20px;
        } 
    }
}