.social {
    margin-block: auto;
    color: var(--color-black);
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: 0;

    &__link {
        display: flex;
        column-gap: 10px;
        align-items: center;

        @media (max-width: 360px) {
            column-gap: 5px;
        }
    }
}