.tours {
    @media (max-width: 1024px) {
        padding-inline: 53px;
    }

    @media (max-width: 360px) {
        padding-inline: 21px;
    }

   &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        
        @media (max-width: 1024px) {
            gap: 18px;
        }
   }

   &__item {
        width: 370px;
        height: 531px;

        @media (max-width: 1024px) {
            width: 450px;
        }
           
        @media (max-width: 360px) {
            width: 318px;
            height: 318px;
        }
   }
}