.tours {
   &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        
        @media (max-width: 1024px) {
            gap: 18px;
        }
   }

   &__item {
        width: 370px;
        height: 531px;

        @media (max-width: 1170px) {
            width: 450px;
        }
           
        @media (max-width: 450px) {
            width: 318px;
            height: 318px;
        }
   }
}