.tour-card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;

    background-position: center;
    background-repeat: no-repeat;

    border-radius: var(--border-radius-big);
    background-image: var(--card-bg-desktop);
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in-out;
    cursor: pointer;

    @include pc-hover {
        background-size: 120% 120%;

        .tour-card__link-emulator::before {
            background-color: var(--color-green-400);
        }
    }

    @include pc-active {
        .tour-card__link-emulator::before {
                background-color: var(--color-orange-200);
        }
    }

    @include tablet {
        background-image: var(--card-bg-tablet);
    }

    @include mobile {
        padding: 25px 25px;

        background-image: var(--card-bg-mobile);
        border-radius: 20px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 18px;

        @include tablet {
            max-width: 350px; 
            row-gap: 17px;
        }

        @include mobile {
            row-gap: 13px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        max-width: 220px;
        row-gap: 30px;

        @include font("h3");

        @include tablet {
            max-width: 100%; 
        }

        @include mobile {
            @include font("h3-mobile");
        }
    }

    &__price {
        width: 100%;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.01em;


        @media (max-width: 450px) {
            font-size: 16px;
        }
    }

    &__link-text {
        @include font("p-small");
        
        @include mobile {
            @include font("p-small-mobile");
        }
    }

    &__link-emulator {
        @include mobile {
            padding-bottom: 1px;
        }
    }
}