.tours {
   &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        
        @media (max-width: 1024px) {
            gap: 18px;
        }
   }

   &__item {
        flex: 1 1;
        min-height: 531px;

        @include mobile {
            flex: 1 1 100%;
            min-height: 318px;
        }
   }
}