.tour-card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;

    background-position: center;
    background-repeat: no-repeat;

    border-radius: var(--border-radius-big);
    background-image: var(--card-bg-desktop);
    background-size: 100%;
    transition: background-size 0.3s ease-in-out;
    cursor: pointer;

    @media (hover:hover) {
        &:hover {
            background-size: 120%;

            .tour-card__link-emulator::before {
                background-color: var(--color-green-400);
            }
        }

        &:active {
            .tour-card__link-emulator::before {
                background-color: var(--color-orange-200);
            }
        }
    }

    @media (max-width: 1170px) {
        background-image: var(--card-bg-tablet);
        row-gap: 320px;
    }

    @media (max-width: 450px) {
        padding: 26px 25px 25px 25px;
        row-gap: 181px;

        background-image: var(--card-bg-mobile);
        border-radius: 20px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 18px;

        @media (max-width: 1170px) {
            max-width: 350px; 
            row-gap: 17px;
        }

        @media (max-width: 360px) {
            row-gap: 12px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        max-width: 220px;
        row-gap: 30px;

        font-weight: 500;
        font-size: 35px;
        line-height: 122%;

        @media (max-width: 1170px) {
            max-width: 350px; 
        }

        @media (max-width: 450px) {
            max-width: 268px; 
            font-size: 23px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.04em;
        }
    }

    &__price {
        width: 100%;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.01em;


        @media (max-width: 450px) {
            font-size: 16px;
        }
    }

    &__link-text {
        font-weight: 700;
        font-size: 23px;
        line-height: 1.22;
        margin-right: 16px;
        
        @media (max-width: 450px) {
            margin-right: 17px;
            font-size: 16px;
            line-height: 1.42;
        }
    }

    &__icon {
         @media (max-width: 450px) {
           margin-bottom: 2px;
        }
    }
}