.tours {

    @media (max-width: 1024px) {
        padding-inline: 53px;
    }

    @media (max-width: 360px) {
        padding-inline: 21px;
    }

   &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        
        @media (max-width: 1024px) {
            gap: 18px;
        }
   }

   &__item {
        max-width: 370px;
        width: 100%;

        @media (max-width: 1024px) {
             max-width: 450px;
        }
   }
}