.trip-stories {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    @media (max-width: 360px) {
        row-gap: 20px;
    }

    &__item {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}