.trip-stories {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    @include mobile {
        row-gap: 20px;
    }

    &__item {
        display: flex;
        flex: 1 1;
        min-height: 567px;
        
        @include mobile {
            min-height: 455px;
        }
    }
}