@keyframes appear-header {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear-header {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}