@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin hover {
    @media (hover:hover) {
        &:hover {
            @content;
        }
    }

    @media (hover:none) {
         &:active {
            @content;
        }
    }
}

@mixin tablet {
    @media(max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: 768px) {
        @content;
    }
}