::-webkit-scrollbar {
    display: none;
}

input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-month-field, 
input[type="date"]::-webkit-datetime-edit-day-field {
    padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--font-family-base);
    font-weight: 400;
    background-color: var(--color-beige-100);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    display: block;
}