::-webkit-scrollbar {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    font-family: var(--font-family-base);
    font-weight: 400;
    color: white;
    
    background-color: var(--color-beige-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    display: block;
}