.container {
    max-width: 1170px;
    margin-inline: auto;
    width: 100%;

    &--wide {
        max-width: 1860px;
        margin-inline: auto;
        width: 100%;

        @media (max-width: 1024px) {
            max-width: 984px;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}