.container {
    max-width: 1170px;
    margin-inline: auto;
    width: 100%;

    &--wide {
        max-width: 1860px;

        @media (max-width: 1024px) {
            max-width: 984px;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &--mobile {
        @media (max-width: 620px) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    }
}

.link-underline {
    position: relative;
    text-decoration: none;

    &::after {   
        content: '';
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 0;
        height: 1px;
        background-color: currentColor;
        transition: width 0.3s ease-in-out;
        transform: translateX(-50%);
    }

    @media (hover:hover) {
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    &--active-orange {
        @media (hover:hover) {
            &:active {
                color: var(--color-orange-200);
            }
        }
    }

    &--active-green {
        @media (hover:hover) {
            &:active {
                color: var(--color-green-400);
            }
        }
    }

    &--low {
        &::after {   
            bottom: -2px;
        }
    }
}

.button-underline {
    position: relative;
    text-decoration: none;

    &::after {   
        content: '';
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: all var(--transition-duration) ease-in-out;
        transform: translateX(-50%);
    
    }

    @media (hover:hover) {
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    &--active {
        position: relative;
        text-decoration: none;
        color: var(--color-orange-200);

        &::after {   
            content: '';
            position: absolute;
            left: 50%;
            bottom: -6px;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            transition: all var(--transition-duration) ease-in-out;
            transform: translateX(-50%);

            @media (max-width: 360px) {
                bottom: 0;
            }
        }
    }
}