@charset "UTF-8";
:root {
  --color-white: #FFFFFF;
  --color-black: #1B1F2B;
  --color-orange-100: #F8E6BE;
  --color-orange-200: #EFA501;
  --color-green-100: #E0F0E5;
  --color-green-200: #627F7E;
  --color-green-300: #3B7E7B;
  --color-green-400: #286562;
  --color-gray-100: #F1F3F2;
  --color-gray-200: #D9DFDB;
  --color-gray-300: #A6A6A6;
  --color-beige-100: #F9F7F4;
  --color-beige-200: #F4F0E9;
  --font-family-base: "Roboto", sans-serif;
  --input-border: 1px solid var(var(--color-beige-200))
  --container-width: 1170px;
  --container-padding-x: 21px;
  --border-radius-big: 50px;
  --border-radius-medium: 30px;
  --border-radius-small: 10px;
  --section-padding-y: 67.5px;
  --input-height: 68px;
  --transition-duration: 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

input[type=date]::-webkit-datetime-edit-year-field,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field {
  padding: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-base);
  font-weight: 400;
  background-color: var(--color-beige-100);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  /* Сброс стандартных стилей */
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
}

input[type=date] {
  letter-spacing: 0 !important;
}

legend {
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1170px;
  margin-inline: auto;
  width: 100%;
}
.container--wide {
  max-width: 1860px;
}
@media (max-width: 1024px) {
  .container--wide {
    max-width: 984px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 620px) {
  .visually-hidden--mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.link-underline {
  position: relative;
  text-decoration: none;
}
.link-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
@media (hover: hover) {
  .link-underline:hover::after {
    width: 100%;
  }
}
@media (hover: hover) {
  .link-underline--active-orange:active {
    color: var(--color-orange-200);
  }
}
@media (hover: hover) {
  .link-underline--active-green:active {
    color: var(--color-green-400);
  }
}
.link-underline--low::after {
  bottom: -2px;
}

.button-underline {
  position: relative;
  text-decoration: none;
}
.button-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: all var(--transition-duration) ease-in-out;
  transform: translateX(-50%);
}
@media (hover: hover) {
  .button-underline:hover::after {
    width: 100%;
  }
}
.button-underline--active {
  position: relative;
  text-decoration: none;
  color: var(--color-orange-200);
}
.button-underline--active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: all var(--transition-duration) ease-in-out;
  transform: translateX(-50%);
}
@media (max-width: 360px) {
  .button-underline--active::after {
    bottom: 0;
  }
}

.card-link {
  position: relative;
  padding-bottom: 1px;
  max-width: 159px;
  display: inline-flex;
  align-items: center;
  z-index: 10;
}
@media (max-width: 360px) {
  .card-link {
    padding-bottom: 2px;
  }
}
.card-link::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -20px;
  right: -21px;
  bottom: -7px;
  background-color: transparent;
  border-radius: var(--border-radius-big);
  z-index: -1;
}
.card-link__text {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.22;
  margin-right: 16px;
}
@media (max-width: 360px) {
  .card-link__text {
    font-size: 16px;
    line-height: 1.42;
    margin-right: 17px;
  }
}
@media (max-width: 360px) {
  .card-link__icon {
    margin-bottom: 2px;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  column-gap: 19px;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
}
@media (max-width: 1024px) {
  .checkbox__label {
    column-gap: 11px;
  }
}
@media (max-width: 360px) {
  .checkbox__label {
    align-items: flex-start;
    column-gap: 10px;
  }
}
.checkbox__emulator {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  border: 2px solid var(--color-black);
  flex-shrink: 0;
}
@media (max-width: 360px) {
  .checkbox__emulator {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.checkbox__emulator::after {
  content: "";
  opacity: 0;
  position: absolute;
  width: 13px;
  height: 10px;
  background: url("../images/icons/check.svg") no-repeat;
  background-size: 13px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkbox__label-emulator {
  color: var(--color-gray-300);
  text-align: left;
}
@media (max-width: 360px) {
  .checkbox__label-emulator {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 145%;
  }
}
.checkbox__input:checked + .checkbox__emulator::after {
  opacity: 1;
}
.checkbox__input:focus:not(:checked) + .checkbox__emulator {
  outline: 1px solid var(--color-gray-300);
  outline-offset: 2px;
}

.radio {
  color: var(--color-black);
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .radio {
    column-gap: 29px;
  }
}
.radio__title {
  margin-bottom: 8px;
}
@media (max-width: 360px) {
  .radio__title {
    font-size: 16px;
    margin-bottom: 3px;
  }
}
.radio__labels {
  display: flex;
  column-gap: 31px;
}
@media (max-width: 360px) {
  .radio__labels {
    column-gap: 30px;
  }
}
.radio__emulator {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid var(--color-black);
}
.radio__emulator:focus {
  border: 1px solid black;
}
@media (max-width: 360px) {
  .radio__emulator {
    margin-top: -1px;
    width: 20px;
    height: 20px;
  }
}
.radio__emulator::after {
  opacity: 0;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 360px) {
  .radio__emulator::after {
    width: 9px;
    height: 9px;
  }
}
.radio__input:focus:not(:checked) + .radio__emulator {
  outline: 1px solid var(--color-gray-300);
  outline-offset: 2px;
}
.radio__input:checked + .radio__emulator::after {
  opacity: 1;
}
.radio__label {
  display: flex;
  align-items: center;
  column-gap: 11px;
}
@media (max-width: 360px) {
  .radio__label {
    column-gap: 10px;
  }
}
.radio__label-emulator {
  text-align: center;
  margin-bottom: -1px;
}
@media (max-width: 360px) {
  .radio__label-emulator {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  row-gap: 8px;
}
@media (max-width: 360px) {
  .field {
    row-gap: 7px;
  }
}
.field--wide {
  max-width: 1030px;
}
@media (max-width: 360px) {
  .field--date-margin {
    width: auto;
    margin-right: -3px;
  }
}
.field__label {
  max-height: 28px;
  height: 100%;
  color: var(--color-black);
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .field__label {
    min-height: 23px;
    font-size: 16px;
  }
}
.field__input {
  width: 100%;
  max-height: 68px;
  padding: 20px;
  padding-left: 19px;
  background-color: var(--color-beige-100);
  border: 1px solid var(--color-beige-200);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-family: var(--font-family-base);
  color: var(--color-black);
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .field__input {
    max-height: 43px;
    padding: 13px 12px 11px 9px;
    font-size: 16px;
  }
}
.field__input:focus {
  border-color: var(--color-gray-300);
  outline: none;
}
.field__input::placeholder {
  color: var(--color-gray-300);
}
.field__input--textarea {
  width: 100%;
  max-height: none;
  min-height: 152px;
  resize: none;
}
@media (max-width: 360px) {
  .field__input--textarea {
    min-height: 132px;
  }
}
.field__input--date {
  position: relative;
  text-transform: uppercase;
}
.field__input--date:invalid {
  color: var(--color-gray-300);
}
.field__select {
  position: relative;
  appearance: none;
  outline: none;
  width: 100%;
  max-height: 68px;
  padding-block: 19px 20px;
  padding-left: 19px;
  background-image: url("../images/icons/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 23px top 29px;
  background-color: var(--color-beige-100);
  border: 1px solid var(--color-beige-200);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  font-family: var(--font-family-base);
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .field__select {
    max-height: 46px;
    font-size: 16px;
    padding: 11.5px 9px;
    background-position: right 13px top 18px;
  }
}
.field__select:focus {
  border-color: var(--color-gray-300);
  outline: none;
}
.field__select:invalid {
  color: var(--color-gray-300);
}
.field__select-option {
  color: var(--color-black);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 28px;
  max-height: 88px;
}
@media (max-width: 1024px) {
  .header {
    padding-inline: 57px;
  }
}
@media (max-width: 460px) {
  .header {
    padding: 33px 20px;
  }
}
.header__inner {
  padding-inline: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  line-height: 1.42;
  letter-spacing: 0;
}
@media (max-width: 1024px) {
  .header__inner {
    padding-inline: 0;
  }
}
@media (max-width: 460px) {
  .header__inner {
    max-height: 23px;
    height: 100%;
  }
}
@media (max-width: 460px) {
  .header__logo {
    max-width: 133px;
    width: 100%;
  }
}
@media (max-width: 920px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  max-width: 468px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 50px;
}
@media (max-width: 1024px) {
  .header__menu-list {
    column-gap: 30px;
  }
}
@media (max-width: 460px) {
  .header__phonenumber {
    margin-top: 1px;
    font-size: 16px;
    transform: translateY(1px);
  }
}

.description {
  font-size: 20px;
  line-height: 1.42;
  letter-spacing: 0;
  text-align: center;
}

.button {
  border-radius: var(--border-radius-small);
  line-height: 142%;
  text-align: center;
  font-weight: 400;
}
.button--small {
  width: 118px;
  height: 34px;
  font-size: 17px;
  letter-spacing: -0.01em;
}
@media (max-width: 360px) {
  .button--small {
    width: 114px;
    height: 33px;
    font-size: 16px;
  }
}
.button--medium {
  width: 235px;
  height: 58px;
  font-size: 20px;
  letter-spacing: 0;
}
@media (max-width: 600px) {
  .button--medium {
    width: 134px;
    height: 47px;
    font-size: 16px;
  }
}
.button--white {
  background-color: var(--color-white);
  color: ver(--color-black);
}
@media (hover: hover) {
  .button--white:hover {
    color: var(--color-white);
    background-color: var(--color-orange-200);
  }
  .button--white:active {
    color: var(--color-black);
    background-color: var(--color-orange-100);
  }
}
@media (hover: none) {
  .button--white:hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
.button--deep-green {
  background-color: var(--color-green-400);
  color: var(--color-white);
}
@media (hover: hover) {
  .button--deep-green:hover {
    background-color: var(--color-green-300);
  }
  .button--deep-green:active {
    background-color: var(--color-green-200);
  }
}
.button--light-green {
  background-color: var(--color-green-100);
  color: var(--color-green-400);
}
@media (hover: hover) {
  .button--light-green:hover {
    background-color: var(--color-gray-100);
  }
  .button--light-green:active {
    background-color: var(--color-gray-200);
  }
}

.hero-section {
  flex-direction: column;
  height: 830px;
  width: 100%;
  background-image: url("../images/hero-section-background-1920.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .hero-section {
    height: 831px;
    background-image: url("../images/hero-section-background-1024.png");
  }
}
@media (max-width: 360px) {
  .hero-section {
    height: 488px;
    background-image: url("../images/hero-section-background-360.png");
  }
}
.hero-section__content {
  display: flex;
  max-height: 742px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  width: 100%;
  row-gap: 50px;
}
@media (max-width: 1024px) {
  .hero-section__content {
    margin-top: -1px;
    max-height: 743px;
  }
}
@media (max-width: 360px) {
  .hero-section__content {
    margin-top: 0;
    max-height: 400px;
    row-gap: 39px;
  }
}
.hero-section__title {
  font-weight: 700;
  max-width: 768px;
  width: 100%;
  transform: translateX(1px);
  font-size: 96px;
  line-height: 1.09;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (max-width: 1024px) {
  .hero-section__title {
    line-height: 105px;
    margin-left: -2px;
    font-size: clamp(34px, 10vw, 96px);
  }
}
@media (max-width: 360px) {
  .hero-section__title {
    height: auto;
    line-height: 38px;
    font-size: 34px;
  }
}
.hero-section__description {
  max-width: 562px;
  max-height: 56px;
  transform: translateY(1px);
}
@media (max-width: 1024px) {
  .hero-section__description {
    max-width: 400px;
  }
}
@media (max-width: 360px) {
  .hero-section__description {
    max-width: 250px;
    max-height: 71px;
    font-size: 16px;
  }
}
.hero-section__button {
  transform: translateY(0.5px);
}
@media (max-width: 1024px) {
  .hero-section__button {
    transform: translateY(1px);
    padding-top: 1px;
  }
}
@media (max-width: 360px) {
  .hero-section__button {
    padding-top: 2px;
  }
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 135px;
}
@media (max-width: 360px) {
  .content {
    row-gap: 76px;
  }
}
.content--margin {
  margin-top: 135px;
  margin-bottom: 135px;
}
@media (max-width: 360px) {
  .content--margin {
    margin-top: 76px;
    margin-bottom: 74px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  letter-spacing: 0%;
  color: var(--color-black);
  text-align: center;
}
@media (max-width: 1024px) {
  .section__title {
    font-size: clamp(34px, 10vw, 59px);
  }
}
@media (max-width: 360px) {
  .section__title {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.02em;
  }
}
.section__title--narrow {
  max-width: 530px;
}
.section__menu {
  margin-top: 35px;
  margin-bottom: 106px;
}
@media (max-width: 360px) {
  .section__menu {
    max-width: 300px;
    margin-bottom: 50px;
    margin-top: 29px;
  }
}
.section__menu-list {
  display: flex;
  justify-content: center;
  gap: 30.65px;
  flex-wrap: wrap;
  margin-left: -1px;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  letter-spacing: 0.002em;
}
@media (max-width: 360px) {
  .section__menu-list {
    margin-left: 0;
    gap: 10px;
    font-size: 16px;
    line-height: 23px;
  }
}
.section__description {
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 100px;
  color: var(--color-gray-300);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}
@media (max-width: 360px) {
  .section__description {
    margin-top: 19px;
    margin-bottom: 50px;
    max-width: 318px;
    font-size: 16px;
    line-height: 23px;
  }
  .section__description--margin-40 {
    margin-bottom: 40px;
  }
}
.section__body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.tours__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .tours__list {
    gap: 18px;
  }
}
.tours__item {
  width: 370px;
  height: 531px;
}
@media (max-width: 1170px) {
  .tours__item {
    width: 450px;
  }
}
@media (max-width: 450px) {
  .tours__item {
    width: 318px;
    height: 318px;
  }
}

.tour-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  row-gap: 277px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-big);
  background-image: var(--card-bg-desktop);
  background-size: 100%;
  transition: background-size 0.3s ease-in-out;
  cursor: pointer;
}
@media (hover: hover) {
  .tour-card:hover {
    background-size: 120%;
  }
  .tour-card:hover .tour-card__link::before {
    background-color: var(--color-green-400);
  }
  .tour-card:active .tour-card__link::before {
    background-color: var(--color-orange-200);
  }
}
@media (max-width: 1170px) {
  .tour-card {
    background-image: var(--card-bg-tablet);
    row-gap: 320px;
  }
}
@media (max-width: 450px) {
  .tour-card {
    padding: 26px 25px 25px 25px;
    row-gap: 181px;
    background-image: var(--card-bg-mobile);
    border-radius: 20px;
  }
}
.tour-card__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 18px;
}
@media (max-width: 1170px) {
  .tour-card__inner {
    max-width: 350px;
    row-gap: 17px;
  }
}
@media (max-width: 360px) {
  .tour-card__inner {
    row-gap: 12px;
  }
}
.tour-card__header {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  row-gap: 30px;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
}
@media (max-width: 1170px) {
  .tour-card__header {
    max-width: 350px;
  }
}
@media (max-width: 450px) {
  .tour-card__header {
    max-width: 268px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.tour-card__price {
  width: 100%;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: -0.01em;
}
@media (max-width: 450px) {
  .tour-card__price {
    font-size: 16px;
  }
}
.tour-card__link-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.22;
  margin-right: 16px;
}
@media (max-width: 450px) {
  .tour-card__link-text {
    margin-right: 17px;
    font-size: 16px;
    line-height: 1.42;
  }
}
@media (max-width: 450px) {
  .tour-card__icon {
    margin-bottom: 2px;
  }
}

.tour-creation__form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 70px;
  row-gap: 33px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-big);
}
@media (max-width: 1024px) {
  .tour-creation__form {
    padding: 60px;
    max-width: 918px;
  }
}
@media (max-width: 360px) {
  .tour-creation__form {
    padding: 21px 20px 40px;
    max-width: 318px;
    border-radius: var(--border-radius-medium);
    row-gap: 28px;
  }
}
.tour-creation__fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 33px;
  justify-content: center;
}
@media (max-width: 360px) {
  .tour-creation__fields {
    row-gap: 31px;
  }
}
.tour-creation__row {
  display: flex;
  width: 100%;
  column-gap: 30px;
}
@media (max-width: 1024px) {
  .tour-creation__row {
    column-gap: 20px;
    row-gap: 33px;
  }
}
@media (max-width: 600px) {
  .tour-creation__row {
    column-gap: 0;
    row-gap: 31px;
    flex-direction: column;
  }
}
.tour-creation__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}
@media (max-width: 1024px) {
  .tour-creation__inner {
    row-gap: 33px;
  }
}
@media (max-width: 360px) {
  .tour-creation__inner {
    row-gap: 26px;
  }
}
.tour-creation__agreement-confirmation-link {
  display: inline;
  color: var(--color-black);
}
.tour-creation__buttons {
  display: flex;
  column-gap: 30px;
}
@media (max-width: 360px) {
  .tour-creation__buttons {
    margin-top: 4px;
    column-gap: 10px;
  }
}

@media (max-width: 1270px) {
  .reviews {
    padding-inline: 30px;
  }
}
@media (max-width: 360px) {
  .reviews {
    padding-inline: 0;
  }
}
.reviews__review-list {
  display: flex;
  column-gap: 30px;
}
@media (max-width: 1024px) {
  .reviews__review-list {
    column-gap: 18px;
  }
}
@media (max-width: 620px) {
  .reviews__review-list {
    flex-direction: column;
    row-gap: 18px;
  }
}

.review {
  max-width: 570px;
  width: 100%;
  padding: 40px;
  background-color: var(--color-beige-200);
  border-radius: var(--border-radius-big);
}
@media (max-width: 1024px) {
  .review {
    max-width: 450px;
  }
}
@media (max-width: 360px) {
  .review {
    max-width: 318px;
    min-height: 408px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
  }
}
.review__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review__text {
  color: var(--color-black);
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0;
  margin-bottom: 70px;
}
@media (max-width: 360px) {
  .review__text {
    max-width: 278px;
    padding-right: 3px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 23px;
  }
}
.review__author-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 360px) {
  .review__author-info {
    max-width: 278px;
    align-items: end;
  }
}
.review__inner {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
@media (max-width: 360px) {
  .review__inner {
    row-gap: 8px;
  }
}
.review__author-name {
  color: var(--color-black);
  font-weight: 500;
  font-size: 35px;
  line-height: 1.22;
  letter-spacing: 0;
}
@media (max-width: 560px) {
  .review__author-name {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
}
.review__tour-name {
  color: var(--color-gray-300);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.42;
  letter-spacing: -0.01em;
}
@media (max-width: 560px) {
  .review__tour-name {
    font-size: 16px;
  }
}
.review__author-photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.photos {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
@media (max-width: 1024px) {
  .photos {
    row-gap: 30px;
  }
}
@media (max-width: 360px) {
  .photos {
    margin-top: -1px;
    padding-inline: 21px;
    row-gap: 18px;
  }
}
@media (max-width: 360px) {
  .photos--margin-top-mobile {
    margin-top: 0;
  }
}
.photos__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .photo--hidden-1024 {
    display: none;
  }
}
@media (max-width: 360px) {
  .photo {
    border-radius: 20px;
  }
  .photo--hidden-360 {
    display: none;
  }
}
.photo__item {
  border-radius: var(--border-radius-big);
}
@media (max-width: 360px) {
  .photo__item {
    border-radius: 20px;
  }
}

.trip-stories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 360px) {
  .trip-stories {
    row-gap: 20px;
  }
}
.trip-stories__item {
  display: flex;
  width: 100%;
  justify-content: center;
}

.story {
  position: relative;
  display: flex;
  width: 1170px;
  height: 567px;
  flex-direction: column;
  padding: 60px;
  border-radius: var(--border-radius-big);
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
}
.story::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--story-bg-desktop);
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  z-index: 1;
}
@media (max-width: 1024px) {
  .story::before {
    background-image: var(--story-bg-tablet);
  }
}
@media (max-width: 360px) {
  .story::before {
    background-image: var(--story-bg-mobile);
  }
}
@media (max-width: 1024px) {
  .story {
    width: 918px;
  }
}
@media (max-width: 360px) {
  .story {
    max-width: 318px;
    width: 100%;
    height: 455px;
    padding: 30px;
    padding-top: 31px;
    border-radius: 20px;
  }
}
@media (hover: hover) {
  .story:hover::before {
    transform: scale(1.2);
  }
  .story:hover .story__link::before {
    opacity: 1;
    background-color: var(--color-green-400);
  }
}
.story__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 37px;
  z-index: 10;
}
@media (max-width: 360px) {
  .story__inner {
    row-gap: 19px;
  }
}
.story__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .story__title {
    max-width: 150px;
    width: 100%;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
.story__text-content {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
@media (max-width: 360px) {
  .story__text-content {
    row-gap: 24px;
  }
}
.story__description {
  display: block;
  max-width: 555px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .story__description {
    line-height: 23px;
    font-size: 16px;
  }
}
.story__description-list {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .story__description-list {
    padding-left: 24px;
    font-size: 16px;
    line-height: 142%;
  }
}
.story__description-list-marker {
  line-height: 28px;
  position: relative;
}
@media (max-width: 360px) {
  .story__description-list-marker {
    line-height: 22px;
    margin-bottom: 1px;
  }
}
.story__description-list-marker::before {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  left: -17px;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
@media (max-width: 360px) {
  .story__description-list-marker::before {
    left: -14.5px;
    top: 8px;
  }
}
.story__footer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}
.story__footer-links {
  display: flex;
  column-gap: 36px;
  text-align: center;
}
.story__footer-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .story__link-arrow {
    margin-bottom: 3px;
  }
}

.ending-section {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 450px) {
  .ending-section {
    flex-direction: column;
    row-gap: 30px;
  }
}
.ending-section__wrapper {
  border-radius: var(--border-radius-big);
  overflow: hidden;
  transform: translateX(-0.3px);
}
@media (max-width: 1024px) {
  .ending-section__wrapper {
    transform: translateX(-0.5px);
  }
}
@media (max-width: 360px) {
  .ending-section__wrapper {
    transform: translateX(0);
    margin-top: -1px;
    border-radius: 20px;
  }
}
.ending-section__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 371px;
  row-gap: 20px;
}
@media (max-width: 360px) {
  .ending-section__text-content {
    row-gap: 21px;
  }
}
.ending-section__title {
  width: 100%;
  margin-top: 1px;
  color: var(--color-black);
  font-weight: 500;
  font-size: 35px;
  line-height: 1.23;
  letter-spacing: 0;
}
@media (max-width: 450px) {
  .ending-section__title {
    max-width: 291px;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: center;
  }
}
.ending-section__description {
  color: var(--color-gray-300);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.42;
  letter-spacing: 0;
}
@media (max-width: 450px) {
  .ending-section__description {
    max-width: 291px;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}
.ending-section__email {
  color: var(--color-black);
}

.footer {
  display: flex;
  width: 100%;
  padding: 30px 0;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.42;
  letter-spacing: 0;
  background-color: var(--color-beige-200);
}
@media (max-width: 1024px) {
  .footer {
    padding-inline: 52px;
  }
}
@media (max-width: 460px) {
  .footer {
    padding-inline: 0;
    padding-block: 22px;
  }
}
.footer__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 1px;
}
@media (max-width: 640px) {
  .footer__socials {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .footer__socials {
    padding-inline: 0;
    font-size: 16px;
    row-gap: 9px;
  }
}
.footer__socials-list {
  margin-top: -1px;
}
.footer__text {
  color: var(--color-gray-300);
}
@media (max-width: 740px) {
  .footer__text {
    text-align: center;
  }
}

.socials {
  display: flex;
  column-gap: 25.5px;
}
@media (max-width: 360px) {
  .socials {
    column-gap: 15px;
  }
}

.social {
  display: flex;
  column-gap: 10px;
  align-items: center;
  color: var(--color-black);
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0;
}
@media (max-width: 360px) {
  .social {
    column-gap: 5px;
  }
}
.social__name {
  margin-top: 1px;
}

.social-logo {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 360px) {
  .social-logo--tg-mobile {
    width: 22px;
    margin-top: -2px;
  }
}
@media (max-width: 360px) {
  .social-logo--fb-mobile {
    width: 26px;
    margin-top: -2px;
  }
}
@media (max-width: 360px) {
  .social-logo--vk-mobile {
    width: 20px;
    margin-top: -2px;
  }
}

/*# sourceMappingURL=main.css.map */
